.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 1.5rem;
}
.side-nav__item {
  position: relative;
  margin-bottom: 0.5rem;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgba(72, 137, 235, 1);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}
.side-nav__item:hover::before,
.side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background-color: #4786e5;
}
.side-nav__item--active{
  background-color: #4786e5;
  margin-bottom: 0.5rem;
}

.side-nav__link:link,
.side-nav__link:visited {
  color: #faf9f9;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
.side-nav__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;

}
